html {
  font-size: 10px;
  font-family: 'Inter UI', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #5543FF;
  color: white;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  color: #222;
  padding: 0 30px 30px 30px;
  border-radius: 25px;
}

img {
  display: block;
  margin: 0 auto 40px;
}

h1 {
  font-size: 60px;
  text-align: center;
  padding: 20px 0 0;
  color: rgb(87, 67, 255);
  text-shadow: 0 3px 3px gray;
}

p, li {
  font-size: 16px;
  line-height: 2;
}

a {
  color: rgb(87, 67, 255);
}